################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Openfeature.Music.Reference/bin/Debug/netcoreapp2.1
/Openfeature.Music.Reference/obj
/Openfeature.Music.Reference/Openfeature.Music.Reference.csproj.user
/Openfeature.Music.Reference/bin/Debug/net5.0
/.vscode
/Openfeature.Music.Reference/.vscode
